#pokemonList {
  display: flex;
  flex-wrap: wrap;
}
.pokemon {
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
}
.types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
img {
  object-fit: cover;
  height: 100px;
}
